.inactive {
    color: var(--text);
}

.addPass {
    border: 3px dashed var(--main);
    border-radius: 10px;
}

.passName {
    color: var(--acol);
    display: block;
    font-weight: 700;
    font-size: 36px;
}

.passName:hover {
    color: var(--ahov);
    text-decoration: underline;
}
