@import "tailwindcss";
@reference 'tailwindcss';

.navbar {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 0.75rem 1.5rem;
    row-gap: 3em;
}

.left {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.logo {
    width: 120px;
    height: 60px;
    will-change: filter;
    transition: filter 300ms;
    @apply mx-auto;
}

@media not all and (prefers-reduced-motion: reduce),
not all and (prefers-reduced-transparency: reduce) {
    .logo:hover {
        filter: var(--shadow);
    }
}

.nav {
    display: flex;
    gap: 1.25rem;
    align-items: center;
    padding-left: 2em;
}

.link, .active {
    padding: 0.45rem 0.9rem;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
}

.link {
    color: var(--text-secondary);
    border: 1px solid rgba(255,255,255,0.12);
}

.active {
    background: var(--background2);
    color: white;
    border: 1px solid transparent;
}

.right {
    display: flex;
    align-items: center;
    gap: clamp(0.5rem, 2vw, 2rem);
}

@media (max-width: 768px) {
    .nav {
        grid-row: 2;
        grid-column: 1/-1;
        justify-self: center;
        width: 100%;
        justify-content: space-around;
        padding: 0;
    }
    .right {
        grid-column: 3;
    }
}

.primary {
    padding: 0.4rem 0.9rem;
    border-radius: 6px;
    background: var(--accent);
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.logout {
    background: transparent;
    border: none;
    color: var(--text-secondary);
    cursor: pointer;
    font-weight: 500;
}