.listTable {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.listTable th,
.listTable td {
    padding: 12px 12px;
    border-bottom: 1px solid var(--gray);
    border-right: 1px solid var(--gray);
}

.listTable th:last-child,
.listTable td:last-child {
    border-right: none;
}

.listTable thead th {
    font-weight: 700;
    background: var(--background2);
}
