@import "tailwindcss";
@reference "tailwindcss";

.page {
  width: 100%;
  max-width: min(100%, 1200px);
  grid-row-start: 2;
  overflow: hidden;
}

.filtersBar {
  display: flex;
  gap: 14px;
  align-items: flex-end;
  justify-content: space-between;
}

.filterBtn {
  background: var(--main);
  color: white;
}

.addStudent {
  background: green;
  color: white;
  margin-left: 10px;
}

.addInstructor {
  background: rgb(59, 59, 169);
  color: white;
  margin-left: 10px;
}

.tableWrap {
  border: 1px solid var(--gray);
  border-radius: 12px;
  background: var(--background3);
  width: 100%;
  overflow-x: auto;
}

.emptyRow {
  text-align: center;
  opacity: 0.85;
}

.table td:nth-of-type(2) {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 0;
}

.pagination {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  margin-top: 14px;
}

.pageBtnActive {
  background: var(--main);
}

@media (max-width: 1000px) {
  .page {
    padding: 0 1.2rem;
  }

  .filtersBar {
    display: block;
  }

  .filtersBar>div {
    @apply mb-3
  }

  .filter:last-of-type {
    @apply mb-4;
  }

  .filterBtn {
    @apply mt-2;
  }
}