.input {
    padding: 12px 15px;
    border: 2px solid #2c3e50;
    border-radius: 12px;
    background-color: var(--background3);
    color: var(--fnt);
    font-size: 16px;
    transition: 0.3s;
    display: block;
    width: 100%;
}

.input[type=text] {
    padding: 8px 8px;
}

.input::placeholder {
    color: #7f8c8d;
}

.input:focus {
    border-color: var(--main);
    outline: none;
    box-shadow: 0 0 8px var(--shadow);
}

.link {
    color: var(--main);
    text-decoration: none;
    font-weight: 600;
}

.link:hover {
    text-decoration: underline;
}

.error {
    color: var(--error);
    font-size: 14px;
    text-align: left;
}