@import "tailwindcss";
@reference 'tailwindcss';

.app_panel {
  grid-row-start: 2;
  width: 100%;
}

.logolink {
  display: inline-flex;
  @apply mx-4;
  @apply w-50;
  @apply h-50;
}

.logo {
  width: 30%;
  max-width: 600px;
  min-width: 200px;
  @apply mx-auto;
  will-change: filter;
  transition: filter 300ms;
}

@media not all and (prefers-reduced-motion: reduce),
  not all and (prefers-reduced-transparency: reduce) {
    .logo:hover {
      filter: var(--shadow);
    }
}

.footer {
  grid-row-start: 3;
}
