@import "tailwindcss";
@reference 'tailwindcss';

.app_container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    flex: 1;
    justify-items: center;
    align-items: center;
    @apply py-8;
    @apply px-1;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @apply px-4;
}