.accountPane {
    width: 100%;
    padding: 0 10%;
    text-align: left;
}

td {
    padding: 4px 0px;
}
td:first-of-type {
    vertical-align: top;
    padding-right: 20px;
}

td:last-of-type {
    max-width: 400px;
}